<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Farcaster</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.15</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>farcaster</string>
				<string>com.farcaster.mobile-client</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>exp+farcaster</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>562</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.social-networking</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>message</string>
		<string>readdle-spark</string>
		<string>airmail</string>
		<string>ms-outlook</string>
		<string>googlegmail</string>
		<string>inbox-gmail</string>
		<string>ymail</string>
		<string>superhuman</string>
		<string>yandexmail</string>
		<string>fastmail</string>
		<string>protonmail</string>
		<string>mailto</string>
		<string>cbwallet</string>
		<string>metamask</string>
		<string>rainbow</string>
		<string>twitter</string>
		<string>instagram</string>
		<string>fb</string>
		<string>whatsapp</string>
		<string>tg</string>
		<string>barcelona</string>
		<string>bsky</string>
		<string>youtube</string>
		<string>tiktok</string>
		<string>reddit</string>
		<string>spotify</string>
		<string>discord</string>
		<string>linkedin</string>
		<string>pinterest</string>
		<string>snapchat</string>
		<string>twitch</string>
		<string>soundcloud</string>
		<string>vimeo</string>
		<string>medium</string>
		<string>substack</string>
		<string>patreon</string>
		<string>music</string>
		<string>behance</string>
		<string>dribbble</string>
		<string>flickr</string>
		<string>tumblr</string>
		<string>kick</string>
		<string>letterboxd</string>
		<string>mixcloud</string>
		<string>bandcamp</string>
		<string>giphy</string>
		<string>imgur</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your camera</string>
	<key>NSContactsUsageDescription</key>
	<string>Farcaster uses your contacts to find users you know</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to use Face ID.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your location. Your geolocation is never sent to $(PRODUCT_NAME).</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your microphone</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to save photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The app accesses your photos to let you attach them to your casts.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INSendMessageIntent</string>
	</array>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Automatic</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
