EXPO_ACCESS_TOKEN= # https://expo.dev/accounts/$YOUR_USERNAME/settings/access-tokens > Personal access tokens > Create token

EXPO_PUBLIC_FIREBASE_APP_CHECK_DEBUG_TOKEN= # https://expo.dev/accounts/farcaster/projects/farcaster/environment-variables > EXPO_PUBLIC_FIREBASE_APP_CHECK_DEBUG_TOKEN